@font-face {
   font-family: "NyghtSerif-Bold";
   src: url(font/NyghtSerif-Bold.otf);
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "NyghtSerif-MediumItalic";
   src: url(font/NyghtSerif-MediumItalic.otf);
   font-weight: 500;
   font-style: italic;
}
@font-face {
   font-family: "NyghtSerif-Regular";
   src: url(font/NyghtSerif-Regular.otf);
   font-weight: normal;
   font-style: normal;
}
body {
   margin: 0;
}

header {
   background-color: #000;
}
.head {
   position: absolute;
   z-index: 1;
   width: 100%;
}
.head h1 {
   font-family: "NyghtSerif-Bold";
   font-size: 15em;
   margin-left: 70px;
   margin-bottom: 0;
   color: #fff;
   animation: fade-left 1s ease-out;
}
@keyframes fade-left {
   from {
      transform: translateX(-800px);
      opacity: 0;
   }
   to {
      transform: translateX(0);
      opacity: 1;
   }
}
.head h2 {
   color: #fff;
   position: absolute;
   right: 70px;
   margin-left: 70px;
   margin: 0;
   font-family: "NyghtSerif-MediumItalic";
   animation: pop-up .75s ease-in-out;
}
.head hr {
   width: 300px;
   position: absolute;
   right: 70px;
   top: 500px;
   animation: pop-up .75s ease-in-out;
}
.head p {
   width: 300px;
   position: absolute;
   right: 70px;
   text-align: right;
   top: 550px;
   color: #fff;
   font-family: "NyghtSerif-Regular";
   animation: pop-up .75s ease-in-out;
}

@keyframes pop-up {
   from {
      scale: 0;
      opacity: 0;
   }
   to {
      scale: 1;
      opacity: 1;
   }
}
.head #myBtn {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-color: inherit;
   border: 2px solid #fff;
   color: #fff;
   font-size: 3em;
   font-family: "NyghtSerif-Bold";
   position: absolute;
   cursor: pointer;
   top: 500px;
   left: 70px;
   transition: .75s ease-out;
   animation: rotate .75s ease-in-out;
}
.head #myBtn:hover {
   box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
   background-color: #fff;
   color: #000;
}
@keyframes rotate {
   from {
      transform: rotate(0turn);
      scale: 0;
   }
   to {
      transform: rotate(1turn);
      scale: 1;
   }
}

header #vid-header {
   width: 100%;
   z-index: 0;
   background-color: #000;
}
nav {
   position: absolute;
   width: 100%;
   z-index: 2;
   font-family: "NyghtSerif-Regular";
}
.dropdown-1 {
   list-style-type: none;
   padding: 0;
   margin: 0;
   margin-left: 50px;
   margin-top: 20px;
   animation: fade-down .75s ease-in-out;
}
.dropdown-1 li {
   display: inline-block;
   color: #fff;
   margin-left: 20px;
   padding: 10px;
}
.dropdown-2 {
   background-color: #fff;
   display: none;
   position: absolute;
   padding: 0;
   top: 50px;
   box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.dropdown-2 li {
   display: flex;
   color: #000;
   margin: 0;
}

.dropdown-1 li:hover .dropdown-2 {
   display: block;
}

.dropdown-3 {
   background-color: #fff;
   display: none;
   position: absolute;
   padding: 0;
   left: 120px;
   width: 250px;
   top: 0;
   box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.dropdown-3 li {
   color: #000;
}
.dropdown-2 li:hover .dropdown-3 {
   display: block;
}
.dropdown-4 {
   background-color: #fff;
   display: none;
   position: absolute;
   width: 250px;
   left: 120px;
   padding: 0;
   top: 39px;
   z-index: 2;
   box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.dropdown-4 li {
   color: #000;
}
.dropdown-2 li:hover .dropdown-4 {
   display: block;
}

nav #hide {
   position: absolute;
   right: 70px;
   padding-top: 10px;
   font-family: "NyghtSerif-Regular";
   border: none;
   background-color: inherit;
   color: #fff;
   font-size: large;
}
nav #hide:hover {
   text-decoration: underline;
   background-color: #fff;
   color: #000;
   box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

}
@keyframes fade-down {
   from {
      transform: translateY(-300px);
   }
   to {
      transform: translateY(0);
   }
}

section {
   height: 100vh;
   color: #fff;
   background-color: #000;
   font-family: "NyghtSerif-Regular";
   padding: 200px;
}
select h2 {
   margin: 20px;
}
